*
{
	background: #000;
	color: #fff;
}

hr
{
	background-color: #fff;
}

/******************New Releases**************************/

.new-releases
{
	width: 100%;
	height: 100vh;
	/*padding: 80px 0;*/
}

.box
{
	text-align: center;
	border:1px solid rgba(0,0,0,0.2);
	box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3);
	border-radius:2px;
	transition: 0.3s ease;
}

.box:hover, .box h6:hover
{	
	background: #222;	
}

.carousel-indicators
{
	position:absolute;
	right:0;
	bottom:-60px!important;
}

.box .diplayPicture
{
	position: relative;
}

.box .diplayPicture img
{
	height: 70vh;
	/*margin-top: 20px;*/
}

.box h6
{
	/*font-size: 13px;
	font-weight: 400;
	color: #666666;
	margin-bottom: 20px;*/

	text-align: center;
	letter-spacing: 4px;
	font-family: 'Lucida Console'!important;
}

.box .rating-icon
{
	height: 4vh;
	margin-right: 0px!important;	
}

/****************All Posts Section***********************/

.all-posts .posters
{
	height: 70vh;	
	border-radius: 10px;
}

.all-posts h6
{
	text-align: center;
	letter-spacing: 4px;
	font-family: 'Lucida Console'!important;
}

.all-posts .rating-icon
{
	height: 5vh;
	margin-right: 0px!important;	
}

.review-post
{
	width: 90%;
	margin-left:5%;
	margin-right: 5%;
}

.review-post p
{
	margin-left: 2.5%;
	margin-right: 2.5%;

}

.review-post .review-heading
{
	font-weight: bold;
}

.movie-banner
{
	width: 100%;
	height: auto;
}

@media only screen and (max-width: 991px) {
	.all-posts .posters
	{	
		height: 30vh;
	}

	.all-posts h6
	{		
		letter-spacing: 2px;		
	}

	.all-posts .rating-icon
	{
		height: 1.5vh;
		margin-right: 0px!important;	
	}
}

@media only screen and (max-width: 450px) {
	.all-posts .posters
	{	
		height: 30vh;
	}

	.all-posts h6
	{		
		letter-spacing: 0.2px;
		font-size: 0.8rem;		
	}

	.all-posts .rating-icon
	{
		height: 1.5vh;
		margin-right: 0px!important;	
	}
}